body {
  background-color: #2f4f4f;
  color: #fffff0;
  font-family: arial, helvetica, sans-serif;
  margin: 10% 20%;
}

img{
  width: 15px;
}

.exp-header {
  text-align: Center;
  text-transform: uppercase;
  border-top: 1px solid #fffff0;
  border-bottom: 1px solid #fffff0;
  background-color: rgba(0,0,0 0.5)
  font-family: 
}



